@media screen and (min-width: 768px) {
  h1 {
    font-size: 32px;
    text-align: center;
  }

  a {
    font-size: 18px;
  }

  i {
    font-size: 32px;
  }
  
  body{
    font-size: 18px;
  }

  header {
    height: 60px;
  }

  .sp-menu ul {
    margin-top: 80px;
  }

  .sp nav {
    height: 60px;
  }

  .home {
    width: 60px;
    height: 60px;
  }

  .home i {
    line-height: 60px;
    width: 60px;
    margin-left: 14px;
  }

  /* HOME */
  .home-content {
    height: 500px;
  }

  .img-content {
    height: 500px;
  }

  .home-content a {
    font-size: 18px;
    color: #432;
    padding: 8px 16px;
  }

  .home-content h1 {
    line-height: 2.5rem;
  }

  .home-content p {
    margin: 40px 0 0;
    background-color: rgba(255, 255, 255, .5);
    padding: 8px;
    display: inline-block;
  }

  .home-content button {
    margin: 40px 0;
    padding: 4px 8px;
  }

  /* PROFILE */
  #profile .container {
    display: flex;
    vertical-align: top;
  }
  
  #profile table {
    margin-top: 0;
    width: 70%;
  }

  .msg i {
    font-size: 18px;
  }

  /* SKILLS */
  .services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }

  .skill {
    height: 300px;
    width: 100%;
    margin-bottom: 0;
  }

  h3 {
  font-size: 22px;
  }

  /* WORKS */
  h2 {
    font-size: 24px;
    padding: 32px 0 16px;
  }

  #works p {
    padding: 16px 0 32px;
    font-size: 20px;
  }

  .skill-content button,
  .detail button,
  .modal-close {
    border-radius: 50px;
  }

  /* Modal */
  .modal-window {
    top: 70px;
  }

  .modal-window .container {
    width: 85%;
  }

  .modal-window h1 {
    margin-bottom: 40px;
  }

  .screenshots img:nth-child(1) {
	  width: 100%;
  }

  .screenshots img:nth-child(2) {
    height: 400px;
    object-fit: contain;
    margin: 60px auto;
  }

  .modal-close {
    width: 200px;
    padding: 12px 16px;
  }

  /* Contact */
  .info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
  }

  .img {
    display: block;
  }

  #to_top i {
    font-size: 36px;
  }

  .footer {
    height: 200px;
  }
  
  .footer .container {
    font-size: 18px;
    padding: 0;
  }

  .footer .container i {
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {

  a {
    font-size: 20px;
  }

  i {
    font-size: 40px;
  }
  
  body{
    font-size: 20px;
  }


  h1 {
	font-size: 3rem;
  }

  .pc {
    display: block;
  }

  .sp {
    display: none;
  }

  .sp-menu {
    display: none;
  }

  section ~ section h1 {
    padding: 160px 0 80px;
  }

  /*Header*/
  header {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 4px 8px rgb(204, 203, 203);
  }

  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
  }

  header ul {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  header ul li {
    width: 100px;
    height: 90px;
    transition: .3s;
  }

  header ul li:hover {
    box-shadow: 2px 4px 8px rgb(204, 203, 203);
  }

  header ul li a {
    color: #432;
    font-size: 18px;
    text-align: center;
    transition: .3s;
    width: 100px;
    height: 90px;
    display: block;
    padding: 8px 0;
    margin: 0;
  }

  header ul li a:hover {
    color: #7f9f98;
  }

  header i {
    font-size: 32px;
    padding: 0;
  }

  .home {
    width: 90px;
    height: 90px;
    padding: 0;
    margin: 0;
    transition:all .5s;
  }

  .home i {
    font-size: 40px;
    line-height: 90px;
    width: 90px;
    margin: 0;
  }

  .home:hover {
    box-shadow: 2px 4px 8px rgb(204, 203, 203);
  }

  .home-content {
    height: 800px;
    width: 100%;
    display:flex;
    align-items: center;
    background-image: none;
  }

  .home-content::after {
    background-image: none
  }

  .home-content button {
    margin-top: 80px;
    padding: 8px 16px;
  }

  .home-content h1 {
    line-height: 4rem;
  }

  .text-content,
  .img-content{
    width: 50%;
    max-width: 50%;
    height: 800px;
  }
  
  .text-content {
    position: relative;
    transform: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .text-content .container {
    background-color: rgba(0, 0, 0, .1);
    background-image: url(images/flower.png);
    background-size: cover;
    background-position: center;
    width: 95%;
    height: 100%;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: -1;
  }
  
  .msg {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .msg a,
  .msg i {
    font-size: 24px;
  }
  
  .img-content {
    background-image: url(images/rabbit.jpg);
    background-position: 75% center;
    background-size: cover;
    position: relative;
  }
  
  .img-content::after {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-image: url(images/dot.png);
    background-size: cover;
  }

  .text-content p {
    margin-top: 40px;
    font-size: 24px;
  }

  #profile table {
    width: 75%;
  }

  #profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

   /* SKILLS */
   .services {
    gap: 32px;
  }

  .skill {
    height: 400px;
    width: 100%;
    margin-bottom: 0;
  }

  .skill footer button {
    margin-bottom: 12px;
  }

  h3 {
  font-size: 28px;
  margin-bottom: 18px;
  }

  /* WORKS */
  h2 {
    font-size: 28px;
  }

  #works p {
    padding: 28px 0 50px;
    font-size: 24px;
  }

  .mosya-items,
  .original-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }

  /* Modal */
  .modal-window {
    top: 100px;
    height: 85%;
  }

  .modal-window h1 {
    margin-bottom: 50px;
  }

  .screenshots {
    display: grid;
    gap: 16px;
    grid-template-columns: 2fr 1fr;
    align-items: center;
  }

  .screenshots img:nth-child(1) {
	  width: 100%;
  }

  .screenshots img:nth-child(2) {
    height: 300px;
    margin: 0 auto;
  }

  /* Contact */
  .info {
    gap: 16px;
  }

  .info i {
    font-size: 24px;
  }

  .info > div {
    height: 200px;
  }

  #to_top i {
    font-size: 40px;
  }

  .footer {
    margin-top: 120px;
  }

  .footer .container i {
    font-size: 40px;
  }

  .footer small {
    font-size: 18px;
  }

}
