
/*共通部分*/
body{
	font-family: 'Open Sans', sans-serif;
	color: #432;
}

a{
	text-decoration: none;
	color: #432;
	transition: .3s;
	display: block;
}

a:hover {
	color: #7f9f98;
}

.ja {
	font-family: 'Zen Maru Gothic', sans-serif;
}

.en {
	font-family: 'Open Sans', sans-serif;
}

li {
	list-style-type: none;
}

button {
	border: none;
	display: block;
	border-radius: 8px;
	opacity: 1;
	background-color: transparent;
}

button:hover {
	opacity: 0.9;
}

/* iDevice 用 */
a {
	font-size: 14px;
}

body{
	font-size: 14px;
}

h1 {
	font-size: 24px;
	text-align: center;
}

.pc {
	display: none;
}

section ~ section h1 {
	padding: 80px 0 50px;
}

i {
	font-size: 28px;
}

/* Header */
header {
	height: 50px;
	position: fixed;
	top: 0;
	z-index: 20;
	width: 100%;
	background-color: rgba(255, 255, 255, .9);
	border-radius: 0 0 16px 16px;
}

#open,
#close {
	opacity: 0;
	font-size: 28px;
	transition: .3s;
	pointer-events: none;
}

#open {
margin-right: 14px;
}

#open.show,
#close.show {
	opacity: 1;
	pointer-events: all;
}

#close {
	position: absolute;
	top: 0;
	right: 14px;
}

.sp-menu {
	background-color: rgba(255, 255, 255, .9);
	border-radius: 0 0 16px 16px;
	user-select: none;
	pointer-events: none;
	opacity: 0;
	transform: translateY(-300px);
	transition: .5s;
	z-index: 15;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 350px;
}

.sp-menu.show {
	opacity: 1;
	transform: none;
	pointer-events: all;
	user-select: all;
}

.sp {
	background-color: rgba(255, 255, 255, .9);
	transition: .3s;
}

header.show {
	background-color: transparent;
}

.sp-menu ul {
	margin-top: 70px;
	padding-bottom: 18px;
	user-select: none;
	padding-left: 0px;
}

.sp-menu ul li {
	border-bottom: 1px solid #7f9f98;
	width: 80%;
	margin: 0 auto;
	display: block;
	padding: 4px;
}

.sp-menu ul li i {
	padding-right: 8px;
	font-size: 22px;
}

.sp nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
}

.home {
	width: 50px;
	height: 50px;
	padding: 0;
	margin: 0;
	transition:all .5s;
}

.home i {
	-webkit-background-clip: text;
	color: transparent;
	transition:all .5s;
	line-height: 50px;
	width: 50px;
	background-image: linear-gradient(to right, #7f9f98 0%, #cef1ea 100%);
	text-align: center;
	padding: 0;
	margin-left: 14px;
}

.home:hover i {
	transform: rotateY(-360deg);
	background-image: linear-gradient(to right, #7f9f98 0%, #cef1ea 51%, #7f9f98 100%);
}

/* HOME */
.home-content {
	height: 400px;
	width: 100%;
	position: relative;
}

.img-content {
	background-image: url(images/rabbit.jpg);
	background-position: 75% center;
	background-size: cover;
	position: absolute;
	height: 400px;
	width: 100%;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.img-content::after {
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	background-image: url(images/dot.png);
	background-size: cover;
}

.text-content {
	position: absolute;
	top: 50%;
	left: 50%;
	right: 0;
	bottom: 0;
	transform: translate(-50%, -50%);
	width: 90%;
}

.home-content button {
	margin: 20px auto 0;
	padding: 2px 4px;
	background-color: transparent;
	transition: .5s;
	position: relative;
	overflow: hidden;
}

.home-content button::before {
	content: '';
	background-image: linear-gradient(to right, #7f9f98 0%, #cef1ea 51%, #7f9f98 100%);
	width: 350px;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	z-index: -1;
	transition: .5s;
	transform: translateX(-80px);
	display: block;
}

.home-content button:hover {
	box-shadow: 2px 4px 8px #432;
}

.home-content button:hover::before {
	transform: none;
}

.home-content a {
	font-size: 1rem;
	color: #432;
	padding: 8px 16px;
}

.msg i {
	padding-right: 4px ;
	font-size: 16px;
}

.home-content h1 {
	margin-top: 20px;
	line-height: 2rem;
	text-align: left;
}

.home-content p {
	margin-top: 32px;
	background-color: rgba(255, 255, 255, .5);
	padding: 4px;
}

/* PROFILE */
#profile img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
	margin: 0 auto;
	display: block;
	border: 1px solid #7f9f98;
}

tbody {
	color: #432;
}

table {
	margin-top: 32px;
	border: 1px solid #432;
}

tr:nth-child(even) {
	background-color: #b5c9c3;
}

td, th {
  vertical-align: middle;
}

/* SKILL */
.skill {
  height: 250px;
  position: relative;
  width: 100%;
  margin: 0 auto 24px;
  z-index: 0;
  overflow: hidden;
	border-radius: 8px;
}

.skill-content {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
  transform: translate(-50%, -50%);
}

.detail {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  transform: translateY(100%);
  user-select: none;
  background-size: cover;
  transition: .3s;
	width: 100%;
}

.detail.appear {
  opacity: 1;
  transform: none;
}

.detail::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.2);
}

.programming {
  background-image: url(images/coding.jpg);
}

.programming .container {
  background-color: rgba(255, 255, 255, .7);
}

.ms {
  background-image: url(images/ms.jpg);
  background-position: center;
}

.english {
  background-image: url(images/English.jpg);
  background-position: right;
}

.video {
  background-image: url(images/video.jpg);
  background-position: right;
	background-color: rgba(255, 255, 255, .8);
}

.detail .container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
	background-color: rgba(255, 255, 255, .6);
	padding: 4px;
	width: 90%;
	height: 90%;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.detail ul li{
	list-style: disc;
}

.skill-content i {
  font-size: 80px;
  text-align: center;
  display: block;
}

.skill-content button,
.detail button,
.modal-close {
	background-color: #b2967d;
	border-radius: 16px;
	padding: 6px 24px;
	text-align: center;
	color: #fff;
	margin: 0 auto;
}

.skill-content button {
	margin-top: 16px;
}

h3 {
  text-align: center;
  font-size: 18px;
  padding-top: 8px;
}

/* WORKS */
h2 {
	font-size: 18px;
	text-align: center;
	padding: 8px 0;
	width: 70%;
	border-bottom: 2px dashed #b2967d;
	display: block;
	margin: 0 auto;
	margin-bottom: 32px;
	font-weight: bold;
}

#works img {
	width: 100%;
	max-width: 100%;
	object-fit: cover;
	transition: .3s;
	border-radius: 8px;
	box-shadow: 1px 1px #7f9f98;
	cursor: pointer;
	margin: 0 auto;
	display: block;
	opacity: 0;
  transform: translateY(20px);
}

#works img.appear{
  opacity: 1;
  transform: none;
}

#works img:hover {
	opacity: .8;
	box-shadow: 4px 2px 4px #7f9f98;
	transform: scale(1.05);
}

#works p {
	padding: 8px 0 32px;
	text-align: center;
}

.mosya-container {
	background-color: #ecf8f8;
	padding: 16px 0;
}

.original-container {
	background-color: #eee4e1;
	padding: 16px 0;
}


/* modal */
html.hidden,
body.hidden {
overflow: hidden;
}

#mask {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 15;
  transition: 0.4s;
}

#mask.hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  max-width: 800px;
  width: 90%;
	height: 90%;
  max-height: 90%;
  background-color: #fff;
	position: fixed;
	top: 60px;
	bottom: 0;
	right: 0;
	left: 0;
  border-radius: 8px;
	box-shadow: 2px 4px 4px #b2967d;
  margin: 0 auto;
  transition:0.5s;
  opacity: 1;
  overflow-y:scroll;
  z-index: 16;
	padding: 32px 0;
}

.modal-window.hidden{
  transform: translateY(-200px);
  pointer-events: none;
  opacity: 0;
}

.modal-window h1 {
	width: 60%;
	display: block;
	margin: 0 auto;
	margin-bottom: 32px;
	padding-bottom: 8px;
	border-bottom: 2px dashed #432;
}

.screenshots img {
	margin: 40px auto;
	display: block;
}

.screenshots img:nth-child(1) {
	width: 100%;
	border: 1px solid #7f9f98;
	border-radius: 8px;
	margin-top: 32px;
}

.screenshots img:nth-child(2) {
	height: 300px;
}

.modal-close{
	width: 150px;
}

.modal-window ul li {
	list-style-type: disc;
	padding-bottom: 4px;
}

/* CONTACT */
.info {
  display: block;
}

.info > div {
  border: 1px solid #b5c9c3;
  text-align: center;
  width: 100%;
  margin: 0 auto 16px;
  border-radius: 8px;
  height: 120px;
	position: relative;
}

.info div .container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.info p {
  margin-bottom: 0;
}

.info p:first-child {
  margin-bottom: 8px;
}

.info i {
  font-size: 18px;
  color: #b5c9c3;
  padding-right: 8px;
}

.img {
	display: none;
	background-image: url(images/rabbit_blue.jpg);
	background-position: center;
	background-size: cover;
}

.footer {
	height: 150px;
	background-color: #ecf8f8;
	position: relative;
	margin-top: 80px;
}

.footer .container {
	position: absolute;
	top: 50%;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 14px;
	padding: 0;
}

.footer i {
	margin-top: 8px;
}

.footer a {
	display: inline;
}

#to_top {
	position: fixed;
	bottom: 16px;
	right: 16px;
	opacity: 0;
	transition: .3s;
}

#to_top.scrolled {
	opacity: 1;
}

#to_top i {
	font-size: 32px;
}


